* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background-color: #161616;
    cursor: none;
}

/*intro definitions*/
.intro {
    /* Fixed positioning to cover the entire viewport */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* Background color */
    background-color: #1f1f1f;
    /* Transition effect */
    transition: 1s;
}

.logo-header {
    /* Absolute positioning for logo header */
    position: absolute;
    top: 40%;
    left: 50%;
    /* Center the logo horizontally and vertically */
    transform: translate(-50%,-50%);
    /* Text color */
    color: #ffffff;
    font-size: 40px;
}

.logo {
    /* Relative positioning for logo */
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    /* Text color */
    color: white;
}

.logo.active {
    /* Animation when logo becomes active */
    bottom: 0;
    opacity: 1;
    /* Transition effect */
    transition: ease-in-out 0.5s;
}

.logo.fade {
    /* Animation when logo fades */
    bottom: 150px;
    opacity: 0;
    /* Transition effect */
    transition: ease-in-out 0.5s;
}

.logo.different-color {
    color: #00b3ff;
}  
.menu {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-item {
    position: relative;
    height: 20%;
    pointer-events: none;
}

a {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

a:hover {
    opacity: 0.6;
}

/*particle definitions*/
#particles-js{
position: absolute;
  width: 100%;
  height: 100%;
  background-color: #161616;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
